<div class="row my-5 py-5">
    <div class="col">
        <div class="icon-block">
            <img src="/assets/images/title-icon/Union.svg" alt="">
            Salty
        </div>
        <div class="sub-text my-4">
            Enjoy the touring with Salty
        </div>
        <div class="d-flex gap-3">
            <img src="/assets/images/sign-in/facebook-icon.svg" alt="">
            <img src="/assets/images/sign-in/instagram-icon.svg" alt="">
            <img src="/assets/images/sign-in/twitter-icon.svg" alt="">
        </div>
    </div>
    <div class="col">
        
    </div>
    <div class="col">
        
    </div>
    <div class="col">
        
    </div>
    <div class="col">
        
    </div>
</div>