<nav class="navbar navbar-expand-lg navbar-static-top d-flex align-items-center justify-content-between header">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="assets/images/title-icon/Union.svg" alt="logo"><span class="ms-1">Salty</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5 align-items-center justify-content-lg-between">
                <li class="nav-item" *ngFor="let item of navItems">
                    <a class="nav-link active" href="#">{{ item }}</a>
                </li>
            </ul>
            <div class="d-flex justify-content-center mb-3">
                <button class="btn book-now-button">
                    <span>Book Now</span>
                    <img src="/assets/images/send-icon/Vector.svg" class="ms-1" alt="send-icon">
                </button>
            </div>
        </div>
    </div>
</nav>