.landing-page {
    // height: 100vh;
    height: auto;
    background-color: #FAF8ED;
}

.one {
    width: 270px;
    height: 250px;
    background-color: antiquewhite;
}

.two {
    width: 370px;
    height: 526px;
    background-color: aqua;
}

.three {
    width: 470px;
    height: 250px;
    background-color: aquamarine;
}

.four {
    width: 270px;
    height: 250px;
    background-color: azure;
}

.five {
    width: 170px;
    height: 263px;
    background-color: beige;
}

.six {
    width: 270px;
    height: 263px;
    background-color: bisque;
}