// .tourist-image {
//     width: 533.75px;
//     height: 555px;
// }

.head-text {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 84px;
    line-height: 86px;
    letter-spacing: 2px;
    color: #2D3134;
    width: 577px;
    // height: 258px;
}

.sub-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #5B5F62;
    width: 577px;
}

.input-field {
    // width: 500px;
    // height: 76px;
    padding: 15px;
    background-color: white;
    border-radius: 38px;

    .form-control {
        border: 0;
        border-radius: 0;
        padding: 0;
        color: #9498A4;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .location-block {
        // padding-left: 10px;
        // max-width: 200px;
        border-right: 1px solid #EAEAEB;
    }

    .date-block {
        // padding-left: 30px;
    }

    .location-image-block {
        // max-width: 150px;
    }

    .date-image-block {
        // max-width: 150px;
    }

    .label {
        font-size: 18px;
        // width: 200px;
        // height: 16px;
        // border-radius: 38px 0 0 38px;
        // padding-left: 10px;
    }

    // .date-field {
    //     // width: 300px;
    //     height: 16px;
    //     // border-radius: 0 38px 38px 0;
    // }
}

.largeScreen {
    display: none;
}

@media (min-width: 1440px) {

    // .dots-image {
    //     position: absolute;
    //     width: 136px;
    //     height: 106px;
    //     left: 1000px;
    //     top: 173px;
    // }
    .largeScreen {
        display: contents;
    }
}

@media (max-width: 575px) {
    .head-text {
        font-size: 50px;
        line-height: normal;
        letter-spacing: normal;
        color: #2D3134;
        width: auto;
        height: auto;
    }

    .sub-text {
        font-size: 18px;
        line-height: 28px;
        color: #5B5F62;
        width: auto;
    }
}

@media (max-width: 768px) and (max-width: 991px) {
    .head-text {
        font-size: 42px;
        line-height: normal;
        letter-spacing: normal;
        color: #2D3134;
        width: auto;
        height: auto;
    }

    .sub-text {
        font-size: 18px;
        line-height: 28px;
        color: #5B5F62;
        width: auto;
    }
}