<div class="row">
    <div class="col sign-in-block d-flex flex-column justify-content-center align-items-center">
        <div class="head-text mt-3 text-center text-md-start">
            Sign up to our newsletter
        </div>
        <div class="sub-text mt-3 text-center">
            Recieve latest news, update, and many other things every week.
        </div>
        <div class="email-field-block mt-5 px-2 py-2 d-flex align-items-center justify-content-between">
            <div>
                <input class="email-field ps-4" placeholder="Enter Your email address" type="text">
            </div>
            <div class="send-icon text-center">
                <img class="img-fluid send-icon-image" src="/assets/images/sign-in/send-icon-orange.svg" alt="">
            </div>
        </div>
    </div>
</div>