<div class="row my-md-5 py-md-5 my-5 justify-content-between">
    <div class="col d-flex justify-content-center order-1 order-sm-0">
        <img class="img-fluid photo-block" src="/assets/images/feedback/cool-man-wth-camera.png" alt="">
    </div>
    <div class="col-md d-flex justify-content-center flex-column">
        <div class="line">

        </div>
        <div class="head-text mt-3 text-center text-md-start">
            A customer said about us:
        </div>
        <div class="feedback-block my-4 py-4 px-4">
            <div id="feedbackCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let feedback of feedbackArray; let i as index; first as isFirst">
                        <div [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item'">
                            <div class="stanza">
                                {{ feedback.review }}
                            </div>
                            <div class="feedback-footer mt-4 d-flex justify-content-between align-items-end">
                                <div>
                                    <div class="d-flex gap-1">
                                        <div *ngFor="let star of feedback.rating">
                                            <img src="{{ star }}" alt="">
                                        </div>
                                    </div>
                                    <div class="name-text mt-3">
                                        {{ feedback.userName }}
                                    </div>
                                    <div class="occupation-text mt-2">
                                        {{ feedback.occupation }}
                                    </div>
                                </div>
                                <div class="d-flex gap-md-3 gap-1">
                                    <button class="button" data-bs-target="#feedbackCarousel"
                                        data-bs-slide="prev">
                                        <img class="img-fluid" src="/assets/images/previous-icon/previous-icon.svg"
                                            alt="">
                                    </button>
                                    <button class="next-button button" data-bs-target="#feedbackCarousel"
                                        data-bs-slide="next">
                                        <img class="" src="/assets/images/next-icon/next-icon.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>